main{
    background-color: #e4d3cf;
    height: auto;
}

body, nav, h1, p {
    font-family: Arial, sans-serif;
}
 
body > header {
    background-color: #999b84;
    padding: 1em;
    margin: 1em;
    border: 0px;
    height: auto;
}

body > header > h1 {
    font-family: "Brush Script MT", "Lucidia Handwriting", cursive;
    color: #2b2e4a;
    font-size: 60px;
}

ul {
    text-align: left;
    display: inline-block;
}

ol {
    text-align: left;
    display: inline-block;
}

p {
    padding: 0em 20em 0em 20em;
}


main section {
    padding: 1em;
    margin: 1em;
    height: auto;
}

footer {
    background-color: #e2bcb7;
    padding: 1em;
    margin: 1em;
    height: auto;
}

.text-align {
    text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

